<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>Securing Your Drupal Site: advice for site builders and coders</title>

		<meta name="description" content="Drupalcon Austin 2014 Presentation on Security">
		<meta name="author" content="Stéphane Corlosquet, Greg Knaddison">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="css/reveal.min.css">
		<link rel="stylesheet" href="css/theme/default.css" id="theme">

		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- If the query includes 'print-pdf', include the PDF print sheet -->
		<script>
			if( window.location.search.match( /print-pdf/gi ) ) {
				var link = document.createElement( 'link' );
				link.rel = 'stylesheet';
				link.type = 'text/css';
				link.href = 'css/print/pdf.css';
				document.getElementsByTagName( 'head' )[0].appendChild( link );
			}
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
				<section>
					<section>
						<h1>Securing Your Drupal Site</h1>
						<h3>Advice for site builders and coders</h3>
						<p>
							<small>Presented by <ul>
								<li><a href="https://drupal.org/u/greggles">Greg Knaddison</a> / <a href="http://twitter.com/greggles">@greggles</a></li>
								<li><a href="https://drupal.org/u/greggles">Stéphane Corlosquet</a> / <a href="http://twitter.com/scorlosquet">@scorlosquet</a></li>
							</small>
						</p>
						<p>
							<small>These slides: http://scor.github.io/drupal-security-2014/</small>
						</p>
					</section>
					<section data-markdown>
						<script type="text/template">
							## [@greggles](https://twitter.com/greggles)

							- Contributed to Drupal for 8+ years
							- Pretty interested in security
							- Wrote [Cracking Drupal](http://crackingdrupal.com)
							- [CARD.com](https://www.card.com) - mobile alternative to a bank - all Drupal
							- [CARD.com/careers](https://www.card.com/careers)
						</script>
					</section>
					<section data-markdown>
						<script type="text/template">
							## Stéphane Corlosquet

							- Drupal Developer for a long time
							- Pretty interested in security
							- Wrote DGD7
							- [Acquia](https://www.acquia.com)
							- Also hiring

						</script>
					</section>
				</section>

				<section>
					<h2>Stéphane "scor" Corlosquet</h2>
					<div>
						<div style="float: right; width:250px;">
							<a href="https://acquia.com/" target="_blank">
								<img src="assets/acquia.png" alt="DGD7 cover" />
							</a>
						</div>
						<ul style="float: left;">
							<li>8 years with Drupal</li>
							<li>Drupal Security Team member</li>
							<li>RDF in core + contrib</li>
							<li><a href="http://definitivedrupal.org/" target="_blank">Definitive Guide to Drupal 7</a></li>
							<li><a href="" target="_blank">We're hiring</a></li>
						</ul>
					</div>
				</section>

				<section data-markdown>
					<script type="text/template">
						## Lots of things to cover

						- Server environment
						- Server config
						- Personal practices
						- Drupal Configuration
						- Code

						*cover them all a little*
					</script>
				</section>

				<section data-markdown>
					<script type="text/template">
						## General tips

						- Use HTTPS, SSH, SFTP
						- Strong password policy
						- Server – LAMP stack
						- Require SSH keys
						- Take & <strong>verify</strong> your backups
							 - <a href="https://docs.acquia.com/articles/scrubbing-drupal-database-environment">Sanitize backups</a> for sharing
						- [Roles and permissions](https://drupal.org/node/120614)
						- Keep your site settings secure
							- Permissions
							- Text formats
							- PHP module
							- PHP in other modules
					</script>
				</section>

				<section data-markdown>
					<script type="text/template">
						## PCI, HIPAA, SCADA, XYZ, PDQ

						- Be aware of your regulations
						- [Drupal PCI Compliance Report](http://drupalpcicompliance.org/)
						- Anyone work in HIPAA environment?
						- Anyone work in SCADA?
						- FEDRAMP/FISMA C&A?
					</script>
				</section>

				<section data-markdown>
					<script type="text/template">
						## Modules enhancing security

						- [Secure Login](https://drupal.org/project/securelogin)
						- [Paranoia](https://drupal.org/project/paranoia)
						- [Security Review](https://drupal.org/project/security_review)
						- [Permissions Lock](https://drupal.org/project/permissions_lock)
						- [Two Factor Authentication](https://drupal.org/project/tfa)
						- [Hacked!](https://drupal.org/project/hacked)
						- [Password policy](https://drupal.org/project/password_policy)
					</script>
				</section>

				<section data-markdown>
					<script type="text/template">
						## Drupal specific hosting

						- Can your hosting provider help you improve your security process?
							- [Pantheon](https://www.getpantheon.com/)
							- [Acquia Cloud](http://www.acquia.com/products-services/acquia-cloud) & [Insight](https://insight.acquia.com)
							- [Drupal.org/hosts](https://www.drupal.org/hosts)
						- Tuned for Drupal security (and performance)
							- Code, DB, uploaded files, config
							- Managed security updates
								- Remote administration (Acquia)
					</script>
				</section>

				<section data-markdown>
					<script type="text/template">
						## Security process

						- Ongoing maintenance
						- Cost
						- Managed hosting
						- Drupal.org packaging infrastructure
					</script>
				</section>

				<section data-markdown>
					<script type="text/template">
						## Security process

						- [Drupal Security Team](https://drupal.org/security-team)
							- Keep Drupal code secure in core and contrib
							- Educate the community on security best practices
								- Developers
								- Site builders
								- Site administrators and users
								- Decision makers
							- [Security Advisory](https://drupal.org/security) for every security release
					</script>
				</section>

				<section>
					<h2>Security process</h2>
					<a href="https://www.acquia.com/blog/keeping-drupal-secure" target="_blank">
						<img height="500"  src="assets/Drupal-security-release_rgb-cc-by-nd.jpg" alt="Keeping Drupal secure infographic" />
					</a>
				</section>

				<section>
					<h2>Most common issues all time</h2>
					<table>
						<thead>
							<tr>
								<th>Type</th>
								<th>Quantity</th>
							</tr>
						</thead>
						<tbody>
						<tr>
							<td>XSS</td>
							<td>373</td>
						</tr>
						<tr>
							<td>Access bypass</td>
							<td>151</td>
						</tr>
						<tr>
							<td>CSRF</td>
							<td>88</td>
						</tr>
						<tr>
							<td>SQLi</td>
							<td>41</td>
						</tr>
						<tr>
							<td>Arbitrary code execution</td>
							<td>27</td>
						</tr>
						<tr>
							<td>Other</td>
							<td>77</td>
						</tr>
						</tbody>
					</table>
				</section>

				<section data-markdown>
					<script type="text/template">
						## What are the most common contrib issues?
						  <img height="500"  src="assets/Drupal_Security_-_SA_Analysis_vuln_types_all_time.png" alt="Vulnerabilities by type all time" />
					</script>
				</section>

				<section data-markdown>
					<script type="text/template">
						## What are the most common issues?
						  <img height="500"  src="assets/Drupal_Security_-_SA_Analysis_vuln_types.png" alt="Vulnerabilities by type" />
					</script>
				</section>

					<section>
					<section data-markdown>
						<script type="text/template">
							## What is XSS?
							- Cross Site Scripting
							- Code in the browser
							- Making requests
							- Parsing responses
							- Javascript, Flash, Java, etc.


						</script>
					</section>
					<section data-markdown>
						<script type="text/template">
							## Testing for XSS
							- &lt;script&gt;alert('title');&lt;/script&gt;
							- &lt;img src="a" onerror="alert('title');"&gt;
							- Catches 90%
						</script>
					</section>
					<section data-markdown>
						<script type="text/template">
							## Fixing XSS?
							- Filter text
							- On output to browser
							- As late as reasonable
							- Some API filters where reasonable
						</script>
					</section>
					<section>
						<h2>Precautions against XSS</h2>
						<a href="http://drupalscout.com/knowledge-base/drupal-text-filtering-cheat-sheet-drupal-6" target="_blank">
							<img height="500"  src="assets/filtering_text.png" alt="Filtering text" />
						</a>
					</section>
				</section>

				<section>
					<section data-markdown>
						<script type="text/template">
							## What is Access Bypass?
							- User can see or do something
							- That permissions/access should prevent
						</script>
					</section>
					<section>
						<script type="text/template">
							### Where do we enforce it?
							- Menu 'access callback'
							- <code>if(user_access('see something'));</code>
							- Node access system
							- Entity access
							- Field access
							- Services & Ajax apis?
							- In templates
						</script>
					</section>
					<section data-markdown>
						<script type="text/template">
							## Testing for Access Bypass
							- Visit node/nid etc.
							- Visit anything/%node
							- Use behat
						</script>
					</section>
					<section data-markdown>
						<script type="text/template">
							## Fixing Access Bypass?
							- <code>user_access</code> for permissions
							- <code>node_access</code>
							- <code>entity_access</code>
							- <code>$query->addTag('node_access');</code>
							- menu definitions
							- write automated tests
						</script>
					</section>
				</section>

				<section>
					<section data-markdown>
						<script type="text/template">
							## What is CSRF?
							- path
							- does not confirm intent

						</script>
					</section>
					<section data-markdown>
						<script type="text/template">
							## Testing for CSRF
							- $_GET, $_POST, no use of drupal_get_token
							- "verb" menu callbacks without token
						</script>
					</section>
					<section data-markdown>
						<script type="text/template">
							## Fixing CSRF?
							- Use FAPI
							- Send and validate tokens
							- [Drupalscout.com csrf](http://www.drupalscout.com/tags/csrf)
						</script>
					</section>
				</section>

				<section data-markdown>
					<script type="text/template">
						## Drupal 7
						## Security improvements
					</script>
				</section>

				<section data-markdown>
					<script type="text/template">
						## Drupal 7

						- Stronger password hashing / salt
						- Login flood control
							- prevents brute-force credential guessing
						- Protected cron
							- prevents Denial of Service attacks
						- Update manager
							- Update module from the web UI
					</script>
				</section>

				<section data-markdown>
					<script type="text/template">
						## Drupal 8
						## Security improvements
					</script>
				</section>

				<section data-markdown>
					<script type="text/template">
						## Drupal 8: Twig

						Automatically sanitizes strings on output<sup>*</sup>

```
  # Drupal 7
  if (isset($variables['link_path'])) {
    $output = l($variables['name'] . $variables['extra'], $variables['link_path'], $variables['link_options']);
  }
  else {
    $output = '<span' . new Attribute($variables['attributes']) . '>' . $variables['name'] . $variables['extra'] . '</span>';
  }
  return $output;

```
```
  # Drupal 8
  {% if link_path -%}
    <a{{ attributes }}>{{ name }}{{ extra }}</a>
  {%- else -%}
    <span{{ attributes }}>{{ name }}{{ extra }}</span>
  {%- endif -%}
```

						<small style="float: right; margin-top: 4em;"><sup>*</sup> [https://drupal.org/node/1825952](https://drupal.org/node/1825952)</small>
					</script>
				</section>

				<section data-markdown>
					<script type="text/template">
						## Drupal 8: Twig

						No PHP in templates

```
{% if link_path -%}
  <a{{ attributes }}>{{ name }}{{ extra }}</a>
{%- else -%}
  <span{{ attributes }}>{{ name }}{{ extra }}</span>
{%- endif -%}
```
					</script>
				</section>

				<section data-markdown>
					<script type="text/template">
						## Drupal 8: WYSIWYG in core
						- Streamlined filter mechanism (server and client side)
						- No more full HTML as last resort

						![alt](assets/ckeditor_config.png)
						![alt](assets/allowed_html_tags.png)
					</script>

				</section>

				<section data-markdown>
					<script type="text/template">
						## Drupal 8: Local image filter

						Only allow images from same site
						![alt](assets/local_images.png)
					</script>
				</section>

				<section>
					<h2>Book on Security in Drupal</h2>
					<a href="http://crackingdrupal.com/" target="_blank">
						<img src="assets/cracking_drupal.png" alt="Filtering text" />
					</a>
				</section>

				<section>
					<h2>References</h2>
					<div>
						<div style="float: right;">
							<a href="http://definitivedrupal.org/" target="_blank">
								<img src="assets/dgd7-cover.jpg" alt="DGD7 cover" />
							</a>
						</div>
						<ul style="float: left;">
							<li>DGD7 chapter 6</li>
							<li><a href="http://drupal.org/security">http://drupal.org/security</a></li>
							<li><a href="http://www.drupalscout.com/">http://www.drupalscout.com/</a></li>
							<li><a href="http://www.drupalsecurityreport.org">http://www.drupalsecurityreport.org</a></li>
							<li><a href="http://groups.drupal.org/security">http://groups.drupal.org/security</a></li>
						</ul>
					</div>
				</section>

				<section>
					<h2>Sprints! On friday</h2>
					<div>
						<div style="float: right; width: 30%;">
								<img src="assets/sprinters.jpg" alt="Sprinters" />
						</div>
						<ul style="float: left; width: 60%;">
							<li>Help improve Drupal: Sprint with the community on Friday.</li>
							<li>We have tasks for every skill set.</li>
							<li>Mentors are available for new contributors.</li>
							<li>An optional Friday morning workshop will help you set up community tools.</li>
							<li>Follow <a href="http://twitter.com/drupalmentoring">@drupalmentoring</a></li>
							<li><a href="https://austin2014.drupal.org/sprints">austin2014.drupal.org/sprints</a></li>
						</ul>
					</div>
				</section>

				<section data-markdown>
					<script type="text/template">
						##

						- []()
						- []()
					</script>
				</section>

				<section data-markdown>
					<script type="text/template">
						##

						- []()
						- []()
					</script>
				</section>

				<section data-markdown>
					<script type="text/template">
						##

						- []()
						- []()
					</script>
				</section>

				<section data-markdown>
					<script type="text/template">
						##

						- []()
						- []()
					</script>
				</section>

				<section data-markdown>
					<script type="text/template">
						##

						- []()
						- []()
					</script>
				</section>

				<section data-markdown>
					<script type="text/template">
						##

						- []()
						- []()
					</script>
				</section>



				<!-- Original slides, to be removed. -->

				<section>
					<h2>Heads Up</h2>
					<p>
						reveal.js is a framework for easily creating beautiful presentations using HTML. You'll need a browser with
						support for CSS 3D transforms to see it in its full glory.
					</p>

					<aside class="notes">
						Oh hey, these are some notes. They'll be hidden in your presentation, but you can see them if you open the speaker notes window (hit 's' on your keyboard).
					</aside>
				</section>

				<!-- Example of nested vertical slides -->
				<section>
					<section>
						<h2>Vertical Slides</h2>
						<p>
							Slides can be nested inside of other slides,
							try pressing <a href="#" class="navigate-down">down</a>.
						</p>
						<a href="#" class="image navigate-down">
							<img width="178" height="238" src="https://s3.amazonaws.com/hakim-static/reveal-js/arrow.png" alt="Down arrow">
						</a>
					</section>
					<section>
						<h2>Basement Level 1</h2>
						<p>Press down or up to navigate.</p>
					</section>
					<section>
						<h2>Basement Level 2</h2>
						<p>Cornify</p>
						<a class="test" href="http://cornify.com">
							<img width="280" height="326" src="https://s3.amazonaws.com/hakim-static/reveal-js/cornify.gif" alt="Unicorn">
						</a>
					</section>
					<section>
						<h2>Basement Level 3</h2>
						<p>That's it, time to go back up.</p>
						<a href="#/2" class="image">
							<img width="178" height="238" src="https://s3.amazonaws.com/hakim-static/reveal-js/arrow.png" alt="Up arrow" style="-webkit-transform: rotate(180deg);">
						</a>
					</section>
				</section>

				<section>
					<h2>Slides</h2>
					<p>
						Not a coder? No problem. There's a fully-featured visual editor for authoring these, try it out at <a href="http://slid.es" target="_blank">http://slid.es</a>.
					</p>
				</section>

				<section>
					<h2>Point of View</h2>
					<p>
						Press <strong>ESC</strong> to enter the slide overview.
					</p>
					<p>
						Hold down alt and click on any element to zoom in on it using <a href="http://lab.hakim.se/zoom-js">zoom.js</a>. Alt + click anywhere to zoom back out.
					</p>
				</section>

				<section>
					<h2>Works in Mobile Safari</h2>
					<p>
						Try it out! You can swipe through the slides and pinch your way to the overview.
					</p>
				</section>

				<section>
					<h2>Marvelous Unordered List</h2>
					<ul>
						<li>No order here</li>
						<li>Or here</li>
						<li>Or here</li>
						<li>Or here</li>
					</ul>
				</section>

				<section>
					<h2>Fantastic Ordered List</h2>
					<ol>
						<li>One is smaller than...</li>
						<li>Two is smaller than...</li>
						<li>Three!</li>
					</ol>
				</section>

				<section data-markdown>
					<script type="text/template">
						## Markdown support

						For those of you who like that sort of thing. Instructions and a bit more info available [here](https://github.com/hakimel/reveal.js#markdown).

						```
						<section data-markdown>
						  ## Markdown support

						  For those of you who like that sort of thing.
						  Instructions and a bit more info available [here](https://github.com/hakimel/reveal.js#markdown).
						</section>
						```
					</script>
				</section>

				<section id="transitions">
					<h2>Transition Styles</h2>
					<p>
						You can select from different transitions, like: <br>
						<a href="?transition=cube#/transitions">Cube</a> -
						<a href="?transition=page#/transitions">Page</a> -
						<a href="?transition=concave#/transitions">Concave</a> -
						<a href="?transition=zoom#/transitions">Zoom</a> -
						<a href="?transition=linear#/transitions">Linear</a> -
						<a href="?transition=fade#/transitions">Fade</a> -
						<a href="?transition=none#/transitions">None</a> -
						<a href="?#/transitions">Default</a>
					</p>
				</section>

				<section id="themes">
					<h2>Themes</h2>
					<p>
						Reveal.js comes with a few themes built in: <br>
						<a href="?#/themes">Default</a> -
						<a href="?theme=sky#/themes">Sky</a> -
						<a href="?theme=beige#/themes">Beige</a> -
						<a href="?theme=simple#/themes">Simple</a> -
						<a href="?theme=serif#/themes">Serif</a> -
						<a href="?theme=night#/themes">Night</a> <br>
						<a href="?theme=moon#/themes">Moon</a> -
						<a href="?theme=solarized#/themes">Solarized</a>
					</p>
					<p>
						<small>
							* Theme demos are loaded after the presentation which leads to flicker. In production you should load your theme in the <code>&lt;head&gt;</code> using a <code>&lt;link&gt;</code>.
						</small>
					</p>
				</section>

				<section>
					<h2>Global State</h2>
					<p>
						Set <code>data-state="something"</code> on a slide and <code>"something"</code>
						will be added as a class to the document element when the slide is open. This lets you
						apply broader style changes, like switching the background.
					</p>
				</section>

				<section data-state="customevent">
					<h2>Custom Events</h2>
					<p>
						Additionally custom events can be triggered on a per slide basis by binding to the <code>data-state</code> name.
					</p>
					<pre><code data-trim contenteditable style="font-size: 18px; margin-top: 20px;">
Reveal.addEventListener( 'customevent', function() {
	console.log( '"customevent" has fired' );
} );
					</code></pre>
				</section>

				<section>
					<section data-background="#007777">
						<h2>Slide Backgrounds</h2>
						<p>
							Set <code>data-background="#007777"</code> on a slide to change the full page background to the given color. All CSS color formats are supported.
						</p>
						<a href="#" class="image navigate-down">
							<img width="178" height="238" src="https://s3.amazonaws.com/hakim-static/reveal-js/arrow.png" alt="Down arrow">
						</a>
					</section>
					<section data-background="https://s3.amazonaws.com/hakim-static/reveal-js/arrow.png">
						<h2>Image Backgrounds</h2>
						<pre><code>&lt;section data-background="image.png"&gt;</code></pre>
					</section>
					<section data-background="https://s3.amazonaws.com/hakim-static/reveal-js/arrow.png" data-background-repeat="repeat" data-background-size="100px">
						<h2>Repeated Image Backgrounds</h2>
						<pre><code style="word-wrap: break-word;">&lt;section data-background="image.png" data-background-repeat="repeat" data-background-size="100px"&gt;</code></pre>
					</section>
				</section>

				<section data-transition="linear" data-background="#4d7e65" data-background-transition="slide">
					<h2>Background Transitions</h2>
					<p>
						Pass reveal.js the <code>backgroundTransition: 'slide'</code> config argument to make backgrounds slide rather than fade.
					</p>
				</section>

				<section data-transition="linear" data-background="#8c4738" data-background-transition="slide">
					<h2>Background Transition Override</h2>
					<p>
						You can override background transitions per slide by using <code>data-background-transition="slide"</code>.
					</p>
				</section>

				<section>
					<h2>Clever Quotes</h2>
					<p>
						These guys come in two forms, inline: <q cite="http://searchservervirtualization.techtarget.com/definition/Our-Favorite-Technology-Quotations">
						&ldquo;The nice thing about standards is that there are so many to choose from&rdquo;</q> and block:
					</p>
					<blockquote cite="http://searchservervirtualization.techtarget.com/definition/Our-Favorite-Technology-Quotations">
						&ldquo;For years there has been a theory that millions of monkeys typing at random on millions of typewriters would
						reproduce the entire works of Shakespeare. The Internet has proven this theory to be untrue.&rdquo;
					</blockquote>
				</section>

				<section>
					<h2>Pretty Code</h2>
					<pre><code data-trim contenteditable>
function linkify( selector ) {
  if( supports3DTransforms ) {

    var nodes = document.querySelectorAll( selector );

    for( var i = 0, len = nodes.length; i &lt; len; i++ ) {
      var node = nodes[i];

      if( !node.className ) {
        node.className += ' roll';
      }
    }
  }
}
					</code></pre>
					<p>Courtesy of <a href="http://softwaremaniacs.org/soft/highlight/en/description/">highlight.js</a>.</p>
				</section>

				<section>
					<h2>Intergalactic Interconnections</h2>
					<p>
						You can link between slides internally,
						<a href="#/2/3">like this</a>.
					</p>
				</section>

				<section>
					<section id="fragments">
						<h2>Fragmented Views</h2>
						<p>Hit the next arrow...</p>
						<p class="fragment">... to step through ...</p>
						<ol>
							<li class="fragment"><code>any type</code></li>
							<li class="fragment"><em>of view</em></li>
							<li class="fragment"><strong>fragments</strong></li>
						</ol>

						<aside class="notes">
							This slide has fragments which are also stepped through in the notes window.
						</aside>
					</section>
					<section>
						<h2>Fragment Styles</h2>
						<p>There's a few styles of fragments, like:</p>
						<p class="fragment grow">grow</p>
						<p class="fragment shrink">shrink</p>
						<p class="fragment roll-in">roll-in</p>
						<p class="fragment fade-out">fade-out</p>
						<p class="fragment highlight-red">highlight-red</p>
						<p class="fragment highlight-green">highlight-green</p>
						<p class="fragment highlight-blue">highlight-blue</p>
						<p class="fragment current-visible">current-visible</p>
						<p class="fragment highlight-current-blue">highlight-current-blue</p>
					</section>
				</section>

				<section>
					<h2>Spectacular image!</h2>
					<a class="image" href="http://lab.hakim.se/meny/" target="_blank">
						<img width="320" height="299" src="http://s3.amazonaws.com/hakim-static/portfolio/images/meny.png" alt="Meny">
					</a>
				</section>

				<section>
					<h2>Take a Moment</h2>
					<p>
						Press b or period on your keyboard to enter the 'paused' mode. This mode is helpful when you want to take distracting slides off the screen
						during a presentation.
					</p>
				</section>

				<section>
					<h2>Stellar Links</h2>
					<ul>
						<li><a href="http://slid.es">Try the online editor</a></li>
						<li><a href="https://github.com/hakimel/reveal.js">Source code on GitHub</a></li>
						<li><a href="http://twitter.com/hakimel">Follow me on Twitter</a></li>
					</ul>
				</section>

				<section>
					<h1>THE END</h1>
					<h3>BY Hakim El Hattab / hakim.se</h3>
				</section>

			</div>

		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.min.js"></script>

		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				theme: Reveal.getQueryHash().theme || 'sky', // available themes are in /css/theme
				transition: Reveal.getQueryHash().transition || 'fade', // default/cube/page/concave/zoom/linear/fade/none

				// Parallax scrolling
				// parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
				// parallaxBackgroundSize: '2100px 900px',

				// Optional libraries used to extend on reveal.js
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
				]
			});

		</script>

	</body>
</html>
