<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>Securing Your Drupal Site: advice for site builders and coders</title>

		<meta name="description" content="Drupalcon Austin 2014 Presentation on Security">
		<meta name="author" content="Stéphane Corlosquet, Greg Knaddison">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="css/reveal.min.css">
		<link rel="stylesheet" href="css/theme/default.css" id="theme">

		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- If the query includes 'print-pdf', include the PDF print sheet -->
		<script>
			if( window.location.search.match( /print-pdf/gi ) ) {
				var link = document.createElement( 'link' );
				link.rel = 'stylesheet';
				link.type = 'text/css';
				link.href = 'css/print/pdf.css';
				document.getElementsByTagName( 'head' )[0].appendChild( link );
			}
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
				<section>
					<section>
						<h1>Securing Your Drupal Site</h1>
						<h3>Advice for site builders and coders</h3>
						<p>
							<small>Presented by <ul>
								<li><a href="https://drupal.org/u/greggles">Greg Knaddison</a> / <a href="http://twitter.com/greggles">@greggles</a></li>
								<li><a href="https://drupal.org/u/greggles">Stéphane Corlosquet</a> / <a href="http://twitter.com/scorlosquet">@scorlosquet</a></li>
							</small>
						</p>
						<p>
							<small>These slides: http://scor.github.io/drupal-security-2014/</small>
						</p>
					</section>
					<section>
						<h2><a href="https://twitter.com/greggles">@greggles Knaddison</a></h2>
						<div>
							<div style="float: right; width:250px;">
								<a href="https://www.card.com/" target="_blank">
									<img src="assets/cardLogo-vertical-rgb.png" alt="CARD.com logo" />
								</a>
							</div>
							<ul style="float:left">
								<li>Contributed to Drupal for 8+ years</li>
								<li>Pretty interested in security</li>
								<li>Wrote <a href="http://crackingdrupal.com">Cracking Drupal</a></li>
								<li><a href="https://www.card.com">CARD.com</a> - mobile alternative to a bank</li>
								<li><a href="https://www.card.com/careers">https://www.card.com/careers</a></li>
							</ul>
						</div>
					</section>
					<section>
						<h2>Stéphane "scor" Corlosquet</h2>
						<div>
							<div style="float: right; width:250px;">
								<a href="https://acquia.com/" target="_blank">
									<img src="assets/acquia.png" alt="DGD7 cover" />
								</a>
							</div>
							<ul style="float: left;">
								<li>8 years with Drupal</li>
								<li>Drupal Security Team member</li>
								<li>RDF in core + contrib</li>
								<li><a href="http://definitivedrupal.org/" target="_blank">Definitive Guide to Drupal 7</a></li>
								<li><a href="https://www.acquia.com/careers" target="_blank">We're hiring</a></li>
							</ul>
						</div>
					</section>
				</section>
				<section data-markdown>
					<script type="text/template">
						## Lots of things to cover

						- Server environment
						- Server config
						- Personal practices
						- Drupal Configuration
						- Code

						*cover them all a little*
					</script>
				</section>

				<section data-markdown>
					<script type="text/template">
						## General tips

						- Use HTTPS, SSH, SFTP
						- Strong password policy
						- Server – LAMP stack
						- Require SSH keys
						- Take & <strong>verify</strong> your backups
							 - <a href="https://docs.acquia.com/articles/scrubbing-drupal-database-environment">Sanitize backups</a> for sharing
					</script>
				</section>

				<section data-markdown>
					<script type="text/template">
						## General tips

						- [Roles and permissions](https://drupal.org/node/120614)
						- Keep your site settings secure
							- Permissions
							- Text formats
							- PHP module
							- PHP in other modules
					</script>
				</section>

				<section data-markdown>
					<script type="text/template">
						## Modules enhancing security

						- [Secure Login](https://drupal.org/project/securelogin)
						- [Paranoia](https://drupal.org/project/paranoia)
						- [Security Review](https://drupal.org/project/security_review)
						- [Permissions Lock](https://drupal.org/project/permissions_lock)
						- [Two Factor Authentication](https://drupal.org/project/tfa)
						- [Hacked!](https://drupal.org/project/hacked)
						- [Password policy](https://drupal.org/project/password_policy)
					</script>
				</section>

				<section data-markdown>
					<script type="text/template">
						## Drupal specific hosting

						- Can your hosting provider help you improve your security process?
							- [Pantheon](https://www.getpantheon.com/)
							- [Acquia Cloud](http://www.acquia.com/products-services/acquia-cloud) & [Insight](https://insight.acquia.com)
							- [Drupal.org/hosts](https://www.drupal.org/hosts)
						- Tuned for Drupal security (and performance)
							- Code, DB, uploaded files, config
							- Managed security updates
								- Remote administration (Acquia)
					</script>
				</section>

				<section data-markdown>
					<script type="text/template">
						## PCI, HIPAA, SCADA, XYZ, PDQ

						- Be aware of your regulations
						- [Drupal PCI Compliance Report](http://drupalpcicompliance.org/)
						- Anyone work in HIPAA environment?
						- FedRAMP/FISMA Certification & Accreditation (C&A)?
						- Anyone work with Drupal in SCADA?
					</script>
				</section>
				<section data-markdown>
					<script type="text/template">
						## Security process

						- Ongoing maintenance
						- Budget for security
						- Managed hosting
						- Drupal.org packaging infrastructure
					</script>
				</section>
				<section data-markdown>
					<script type="text/template">
						## Security process

						- [Drupal Security Team](https://drupal.org/security-team)
							- Keep Drupal code secure in core and contrib
							- Educate the community on security best practices
								- Developers
								- Site builders
								- Site administrators and users
								- Decision makers
							- [Security Advisory](https://drupal.org/security) for every security release
					</script>
				</section>

				<section>
					<h2>Security process</h2>
					<div>
						<a href="https://www.acquia.com/blog/keeping-drupal-secure" target="_blank">
							<img height="500"  src="assets/Drupal-security-release_rgb-cc-by-nd.jpg" alt="Keeping Drupal secure infographic" />
						</a>
					</div>
					<div>
						<a href="https://www.acquia.com/blog/keeping-drupal-secure" target="_blank">
							https://www.acquia.com/blog/keeping-drupal-secure
						</a>
					</div>
				</section>

				<section data-markdown>
					<script type="text/template">
						## What are the most common contrib issues?
						  <img height="500"  src="assets/Drupal_Security_-_SA_Analysis_vuln_types_all_time.png" alt="Vulnerabilities by type all time" />
					</script>
				</section>

				<section data-markdown>
					<script type="text/template">
						## What are the most common issues?
						  <img height="500"  src="assets/Drupal_Security_-_SA_Analysis_vuln_types.png" alt="Vulnerabilities by type" />
					</script>
				</section>

					<section>
					<section data-markdown>
						<script type="text/template">
							## What is XSS?
							- Cross Site Scripting
							- Code in the browser
							- Making requests
							- Parsing responses
							- Javascript, Flash, Java, etc.


						</script>
					</section>
					<section data-markdown>
						<script type="text/template">
							## Testing for XSS
							- &lt;script&gt;alert('title');&lt;/script&gt;
							- &lt;img src="a" onerror="alert('title');"&gt;
							- Catches 90%
						</script>
					</section>
					<section data-markdown>
						<script type="text/template">
							## Fixing XSS?
							- Filter text
							- On output to browser
							- As late as reasonable
							- Some API filters where reasonable
						</script>
					</section>
					<section>
						<h2>Precautions against XSS</h2>
						<a href="http://drupalscout.com/knowledge-base/drupal-text-filtering-cheat-sheet-drupal-6" target="_blank">
							<img height="500"  src="assets/filtering_text.png" alt="Filtering text" />
						</a>
					</section>
				</section>

				<section>
					<section data-markdown>
						<script type="text/template">
							## What is Access Bypass?
							- User can see or do something
							- That permissions/access should prevent
						</script>
					</section>
					<section data-markdown>
						<script type="text/template">
							### Where do we enforce it?
							- Menu 'access callback'
							- <code>if(user_access('see something'));</code>
							- Node access system
							- Entity access
							- Field access
							- Services & Ajax apis?
							- In templates
						</script>
					</section>
					<section data-markdown>
						<script type="text/template">
							## Testing for Access Bypass
							- Visit node/nid etc.
							- Visit anything/%node
							- Use behat
						</script>
					</section>
					<section data-markdown>
						<script type="text/template">
							## Fixing Access Bypass?
							- <code>user_access</code> for permissions
							- <code>node_access</code>
							- <code>entity_access</code>
							- <code>$query->addTag('node_access');</code>
							- menu definitions
							- write automated tests
						</script>
					</section>
				</section>

				<section>
					<section data-markdown>
						<script type="text/template">
							## What is CSRF?
							- path
							- does not confirm intent

						</script>
					</section>
					<section data-markdown>
						<script type="text/template">
							## Testing for CSRF
							- $_GET, $_POST, no use of drupal_get_token
							- "verb" menu callbacks without token
						</script>
					</section>
					<section data-markdown>
						<script type="text/template">
							## Fixing CSRF?
							- Use FAPI
							- Send and validate tokens
							- [Drupalscout.com csrf](http://www.drupalscout.com/tags/csrf)
						</script>
					</section>
				</section>

				<section data-markdown>
					<script type="text/template">
						## Drupal 7
						## Security improvements
					</script>
				</section>

				<section data-markdown>
					<script type="text/template">
						## Drupal 7

						- Stronger password hashing / salt
						- Login flood control
							- prevents brute-force credential guessing
						- Protected cron
							- prevents Denial of Service attacks
						- Update manager
							- Update module from the web UI
					</script>
				</section>
				<section>
					<h2>Drupal 7 Update Manager</h2>
					<img src="assets/D7_Available_updates_list.png">
				</section>
				<section>
					<h2>Drupal 7 Update Manager Notifications</h2>
					<img src="assets/D7_Available_updates_notifications.png">
				</section>

				<section data-markdown>
					<script type="text/template">
						## Drupal 8
						## Security improvements
					</script>
				</section>

				<section data-markdown>
					<script type="text/template">
						## Drupal 8: Twig

						Automatically sanitizes strings on output<sup>*</sup>

```
  # Drupal 7
  if (isset($variables['link_path'])) {
    $output = l($variables['name'] . $variables['extra'], $variables['link_path'], $variables['link_options']);
  }
  else {
    $output = '<span' . drupal_attributes($variables['attributes_array']) . '>' . $variables['name'] . $variables['extra'] . '</span>';
  }
  return $output;
```
```
  # Drupal 8
  {% if link_path -%}
    <a{{ attributes }}>{{ name }}{{ extra }}</a>
  {%- else -%}
    <span{{ attributes }}>{{ name }}{{ extra }}</span>
  {%- endif -%}
```

						<small style="float: right; margin-top: 4em;"><sup>*</sup> [https://drupal.org/node/1825952](https://drupal.org/node/1825952)</small>
					</script>
				</section>

				<section data-markdown>
					<script type="text/template">
						## Drupal 8: Twig

						No PHP in templates

```
{% if link_path -%}
  <a{{ attributes }}>{{ name }}{{ extra }}</a>
{%- else -%}
  <span{{ attributes }}>{{ name }}{{ extra }}</span>
{%- endif -%}
```
					</script>
				</section>

				<section data-markdown>
					<script type="text/template">
						## Drupal 8: WYSIWYG in core
						- Streamlined filter mechanism (server and client side)
						- No more full HTML as last resort

						![alt](assets/ckeditor_config.png)
						![alt](assets/allowed_html_tags.png)
					</script>

				</section>

				<section data-markdown>
					<script type="text/template">
						## Drupal 8: Local image filter

						Only allow images from same site
						![alt](assets/local_images.png)
					</script>
				</section>

				<section>
					<h2>Book on Security in Drupal</h2>
					<a href="http://crackingdrupal.com/" target="_blank">
						<img src="assets/cracking_drupal.png" alt="Filtering text" />
					</a>
				</section>

				<section>
					<h2>References</h2>
					<div>
						<div style="float: right;">
							<a href="http://definitivedrupal.org/" target="_blank">
								<img src="assets/dgd7-cover.jpg" alt="DGD7 cover" />
							</a>
						</div>
						<ul style="float: left;">
							<li>DGD7 chapter 6</li>
							<li><a href="http://drupal.org/security-team">http://drupal.org/security-team</a></li>
							<li><a href="http://www.drupalscout.com/">http://www.drupalscout.com/</a></li>
							<li><a href="http://www.drupalsecurityreport.org">http://www.drupalsecurityreport.org</a></li>
							<li><a href="http://groups.drupal.org/security">http://groups.drupal.org/security</a></li>
						</ul>
					</div>
				</section>

				<section>
					<h2>Sprints! On friday</h2>
					<div>
						<div style="float: right; width: 30%;">
								<img src="assets/sprinters.jpg" alt="Sprinters" />
						</div>
						<ul style="float: left; width: 60%;">
							<li>Help improve Drupal: Sprint with the community on Friday.</li>
							<li>We have tasks for every skill set.</li>
							<li>Mentors are available for new contributors.</li>
							<li>An optional Friday morning workshop will help you set up community tools.</li>
							<li>Follow <a href="http://twitter.com/drupalmentoring">@drupalmentoring</a></li>
							<li><a href="https://austin2014.drupal.org/sprints">austin2014.drupal.org/sprints</a></li>
						</ul>
					</div>
				</section>


		<!-- The end -->


			</div>

		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.min.js"></script>

		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				theme: Reveal.getQueryHash().theme || 'sky', // available themes are in /css/theme
				transition: Reveal.getQueryHash().transition || 'fade', // default/cube/page/concave/zoom/linear/fade/none

				// Parallax scrolling
				// parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
				// parallaxBackgroundSize: '2100px 900px',

				// Optional libraries used to extend on reveal.js
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
				]
			});

		</script>

	</body>
</html>
